@import "./styles/partials/global";


.App_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25rem;
  height: 12rem;
  border: .05rem solid rgba(211, 211, 211, 0.542);
  border-radius: .5rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.App {
  text-align: center;
  width: 500px;
  align-items: center;
}

h2 {
  margin-bottom: 1.5rem;
}